*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('bg.jpg') no-repeat  ;
    background-size: 2000px 1200px;
    overflow:hidden;
}
.maindiv{
  box-shadow: 1px 1px 60px rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 9.5em;
  margin-left: 35vw;
  width: 30vw;
  height: 30em;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  padding-top: 2em;
}
.input {
    float:inline-start;
    margin-top: 2em ;
    width: 25vw;
    height: 3em;
    outline: none;
    border: none;
    background: none;
    box-shadow: inset 2px 3px 10px rgb(90, 209, 98);
    padding-left: 3vw ;
    padding-right: 3vw;
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}  
.check{
    margin: 1em 3em 1em 3vw; 
    font-size : 18px;
    font-family: cursive;
    color: rgb(255, 255, 255);
    left: 2vw;
    
}
#checkbox{
    box-shadow: 2px 2px 10px rgb(76, 190, 53) ;
} 
#checkbox:hover{
    box-shadow: 2px 2px 10px rgb(90, 251, 3) ;
}
#password{
    margin-top: 2em;

}
h1{
    font-family: cursive ;
    font-size: 30px;
    color: aliceblue;
}
::placeholder{
    color: rgb(224, 221, 221);
    font-family: cursive;
    font-size: 15px;
}
.input:hover{
    box-shadow: inset 1px 1px 10px rgb(36, 201, 47) ;
    color: black;
}
button{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background:rgb(182, 186, 182);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(134, 134, 131);
}
button:hover{
    box-shadow:  2px 2px 10px rgb(32, 209, 44) ;
    color: black;
}
h2{
    font-family: cursive;
    font-size: 20px;
    margin-top: 0.5em;
    color: aliceblue;
    text-align: center;
    position: relative;
}
h2:before{
    content: "";
    display: block;
    width: 10vw;
    height: 2px;
    background-color: aliceblue ;
    position: absolute;
    left: 2vw;
    top: 0.8em;   
}
h2:after{
    content: "";
    display: block;
    width: 10vw;
    height: 2px;
    background-color: aliceblue ;
    position: absolute;
    right: 2vw;
    top: 0.8em;   
}
#link1{
    margin-right: 4vw ;
}
#link2{
    margin-right: 4vw ;
}
.link,span{
   font-family: cursive;
   color: aliceblue;
   right: 5vw;
   font-size: 17px;
   
}
#register{
    color:aliceblue;
    font-size: 18px;
}
#register:hover{
    color:rgb(48, 110, 233);
}
#forgot{
    color: aliceblue;
    font-size: 18px;
    margin-left: 2vw;
    display: block;
    margin-top: 1em;
}
